 .crl{

    width: 100%;
    /* height: 131vh; */
    height: 100vh;
    background: #928;
    overflow: hidden;
    transition: all ease 1s;
    }

.img1{

background-color: aqua;
transition: all ease 1s;
height: 100%;
width: 100%;
background-image: url('../assets/marvel.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.img1:hover{
    scale: 1.2;
}

.img2{
    height: 100%;
    width: 100%;
    background-color: red;
    background-image: url('../assets/marvel.png');
}


.img3{
    height: 100%;
    width: 100%;
    background-color: blue;
    background-image: url('../assets/marvel.png');  
}


.img4{
    height: 100%;
    width: 100%;
    background-color: yellow;
    background-image: url('../assets/marvel.png');
}
